# Ignore everything by default.
# This to make sure we include only needed files and don't ship any garbage.
# If you need to include a file, make sure it's parent directories also included.
*
!.gitignore
!Finch_Base.mpr

!theme
!theme/web
!theme/web/settings.json

!themesource
!themesource/finch_web
!themesource/finch_web/web
!themesource/finch_web/web/main.css
!themesource/finch_web/web/main.scss
!themesource/finch_web/web/settings.json
