@use "main.css";
@use "utility.css";
@use "data-list-box.css";

@import url("resources/fonts/open-sans/open-sans.css");

.st-box-400 {
    height: 400px;
    overflow-y: auto;
}

.delta-up {
    color: var(--mantine-color-lime-6, #66a80f);
}

.delta-down {
    color: var(--mantine-color-red-6, #e03131);
}
